#PLEASE REMOVE .example
ADMIN_USERNAME=firstlunaadmin
ADMIN_PASSWORD_HASH=$2b$10$DoyL7I9q1jEsOy9o/l.5kO5R7USIt54btPGCsFHBSSEn2.lY8WEb.
JWT_SECRET=saya_senang_ngoding_tapi_saya_malas_ngoding
##DB
DB_USERNAME=lunaCalculator
DB_PASSWORD=201007
DB_HOST=localhost
DB_PORT=5432
DATABASE=luna
##URL STAGING, PROD, LOCAL
STAGING_URL=https://luna-clc-preprod.vercel.app/
PROD_URL=https://luna-clc.vercel.app/
LOCAL_URL=http://localhost:5173
PORT=3000