#PLEASE REMOVE .example
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
JWT_SECRET=
##DB
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DATABASE=
##URL
STAGING_URL=https://luna-clc-preprod.vercel.app/
PROD_URL=https://luna-clc.vercel.app/
LOCAL_URL=http://localhost:5173
PORT=3000