
.logo {
  display: flex;
  max-width: 13dvw;
  max-height: 6rem;
  background: #252547;
  border: 3px solid #4a4a7c;
  box-shadow: 
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    4px 4px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.logo:hover {
  filter: drop-shadow(0 0 3em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 3em #61dafbaa);
}

.logoImg {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

.logo p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #51bef4;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .logo {
    max-width: 100dvw;
    justify-content: center;
    margin: 0;
  }

  .logo p {
    width: 100%;
  }
}
