.skillSelectionDiv {
  margin: 0.8rem 0 0.8rem 0;
  width: 50dvw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, min-content);
  grid-auto-rows: min-content;
  overflow-y: scroll;
  justify-content: center;
}

.skillSelectionDiv::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1700px) {
  .skillSelectionDiv {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 1500px) {
  .skillSelectionDiv {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 1315px) {
  .skillSelectionDiv {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 1100px) {
  .skillSelectionDiv {
    width: 85dvw;
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: visible;
    flex-shrink: 0;
  }
}