@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* main root section */
#luna-skill-calc {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-height: 95dvh;
  max-width: 100dvw;
}

.main-div {
  max-height: 95dvh;
  max-width: 100dvw;
  display: flex;
  flex-direction: column;
}

/* main card section */
.main-card {
  margin-top: 2rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}

/* character description section */
.char-desc-div {
  margin-left: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
  width: 14rem;
}

/* class selection section */
.class-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* other detail section */
.other-detail-div {
  width: 30dvw;
  background-color: #242424;
}

/* skill detail section */
.skill-detail-div {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

.skill-detail-div h2 {
  text-align: center;
}

.skill-main-desc div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
}

.skill-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.skill-type {
  margin: 1rem 0 0 0;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .char-desc-div button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1000px) {
  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-card {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  .char-desc-div {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    max-width: 85dvw;
    width: 85dvw;
  }

}
