@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* main root section */
#luna-skill-calc {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-height: 100dvh;
  max-width: 100dvw;
}

.main-div {
  max-height: 100dvh;
  max-width: 100dvw;
}

/* main card section */
.main-card {
  margin-top: 2rem;
  max-width: 100dvw;
  max-height: 90dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* character description section */
.char-desc-div {
  padding: 0 0.5rem 0 0.5rem;
  width: 14rem;
}


/* race selection section */
.race-p {
}

/* class selection section */
.class-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* skill selection section */
.skill-selection-div {
  margin-top: 0.8rem;
  width: 50dvw;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #1a1a1a;
}

.skill-icon {
  width: 2rem;
  height: 2rem;
}

.skill-name {
  margin-left: 0.5rem;
}

.skill-qty-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.skill-button {
  border-radius: 8px;
  border: none;
  padding: 0.2em 0.5em;
  font-weight: bold;
  text-align: center;
}

/* other detail section */
.other-detail-div {
  width: 30dvw;
  background-color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .char-desc-div button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 600px) {
  .logo-div {
    max-width: 100dvw;
    justify-content: center;
  }

  .main-card {
    flex-direction: column;
  }

  .char-desc-div {
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: 85dvw;
    width: 85dvw;
  }
}

body {
}
